* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(images/background.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: black;
    padding: 10px 50px
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4px;
}

.logo {
    margin-left: 19%;
}

.logo img {
    max-width: 120px;
}

.nav-btns {
    margin-right: 19%;
}

.globe {
    line-height: 5px;
    padding: 5px 14px;
    background: inherit;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    margin: 10px;
}

.sign-in-btn {
    background-color: red;
    color: #FFFFFF;
    padding: 5px 9px;
    font-size: 14px;
    font-weight: 500;
    border: 0;
    border-radius: 5px;
}

.content {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    text-align: center;
    padding-top: 11%;
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
}

.content h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 120%;
}

.content h3 {
    font-weight: 500;
    margin: 10px;
}

.content p {
    font-weight: 400;
    margin: 10px;
    margin-top: 35px;
}

.content form {
    margin-top: 5px;
}

input {
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    width: 60%;
    padding: 15px;
    font-size: 11px;
    background-color: inherit;
    font-size: 12px;
    color: white;
}

#get-started-btn {
    background-color: red;
    color: #FFFFFF;
    padding: 15px;
    font-size: 14px;
    font-weight: 600;
    border: 0;
    border-radius: 4px;
}

.sign-in-form {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    min-height: 100vh;
    max-width: 450px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.sign-in-form h1 {
    font-size: 32px;
    padding: 33px 102px;
}

.sign-in {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sign-in input {
    width: 100%;
    text-align: left;

}

@media only screen and (max-width: 1200px) {

    .logo,
    .nav-btns {
        margin-left: 10%;
        margin-right: 10%;
    }

    .navigation {
        margin: 0;
    }

    .content {
        max-width: 70%;
        margin-top: 10%;
    }
}

@media only screen and (max-width: 992px) {

    .logo,
    .nav-btns {
        margin-left: 5%;
        margin-right: 5%;
    }

    .navigation {
        margin: 0;
    }

    .content {
        max-width: 85%;
    }
}

@media only screen and (max-width: 768px) {

    .logo,
    .nav-btns {
        margin-left: 0;
        margin-right: 0;
    }

    .navigation {
        margin-top: 0;
    }

    .content {
        max-width: 100%;
        margin-top: 10%;
    }

    .header {
        padding: 5px 20px;
    }
}